a {
  color: white;
  text-decoration: none;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.header-top-color {
  background-color: white;
}

.header-top-icon {
  width: 20px;
  padding-bottom: 2px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  gap: 1418px;
  padding-bottom: 0px;
  font-size: 12px;
}

.header-top-link > a {
  color: black;
  border-left: 1px solid black;
  padding: 5px 100px;
  padding-right: 108px;
  transition: 200ms ease-in-out;
}
.header-top-link > a:hover {
  background-color: rgb(83, 157, 255);
  color: white;
}

.header-bottom {
  background-color: black;
  padding-top: 0;
  z-index: 1;
}

.navbar-brand {
  color: white;
  font-weight: 200;
  font-size: 17px;
  margin-right: 10rem;
}
.navbar-brand:hover {
  color: white;
}

.nav-link {
  color: white;
  font-size: 12px;
  font-weight: 400;
}
.nav-link:hover {
  color: rgb(83, 157, 255);
}

.nav-bottom-logo {
  width: 30px;
  height: 30px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: white;
}
.navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.show:hover {
  color: rgb(83, 157, 255);
}

.navbar {
  z-index: 1;
  background-color: black;
}

.home-background {
  background-image: url("../assets/home-background.jpg");
  background-size: cover;
  background-position: 100%;
  height: 25rem;
  width: 100%;
  filter: blur(3px);
  position: fixed;
  top: 0;
  z-index: -2;
  overflow: hidden;
}

.home-balance-monto-container {
  background-color: black;
}

.in-debt {
  color: rgb(235, 0, 0);
}

.text-white {
  color: white;
}

.home-title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.home-card {
  background-color: hsla(0, 0%, 99%, 0.6);
  backdrop-filter: blur(2.3393px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2.3rem 4rem;
  border-radius: 4px;
  gap: 0.5rem;
}

.home-balances-container__container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.card-amounts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
}

.card-amounts__span {
  font-size: 20px;
}

.font-big {
  font-size: 40px;
}

.home-balances-img {
  width: 5rem;
  height: 5rem;
}

.card-amounts__h5 {
  text-transform: uppercase;
  font-size: 40px;
}

.gray {
  color: rgb(89, 89, 89);
  font-size: 14px;
}

.card-actions__button {
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
}

.coin-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.coin-image {
  width: 40px;
}

.coin-title {
  font-size: 14px;
  font-weight: 700;
}

.coin-small {
  font-size: 12px;
  color: rgb(85, 85, 85);
}

.cointable {
  background-color: rgba(255, 255, 255, 0.708);
  width: 100%;
  border-radius: 4px;
  backdrop-filter: blur(0.5px);
  box-shadow: 0 1.2rem 1.6rem -4px rgba(16, 24, 40, 0.08), 0 4px 6rem -0.2rem rgba(16, 24, 40, 0.03);
  border: solid 1px rgb(201, 201, 201);
}

.cointable__thead {
  background-color: rgb(235, 235, 235);
  font-size: 15px;
}

.cointable__thead th {
  padding: 13px 13px;
}

.cointable__row td {
  padding: 15px 20px;
}

.cointable__row {
  border-bottom: solid 1px rgb(201, 201, 201);
}

.img-login-singup {
  object-fit: cover;
  position: fixed;
  left: 0;
  width: calc(50% - 1.5rem);
}

.register-title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
  margin-top: 9rem;
  font-size: 30px;
  font-weight: 800;
}

.signup-form-label {
  font-size: 12px;
  font-weight: 600;
}

.signup-form-container {
  margin-bottom: 2rem;
  width: 100%;
}

.signup-form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.signup-form-input {
  border-radius: 4px;
  width: 100%;
  height: 3rem;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.371);
  padding-left: 10px;
}
.signup-form-input:focus {
  outline: 3px solid rgba(0, 136, 255, 0.386);
}

.outline-red {
  border: 1px solid #dd476f;
}

.signup-btn {
  border-radius: 20px;
  width: 100%;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
}

.signup-text-blue {
  color: rgb(0, 110, 255);
}

.signup-text {
  font-size: 12px;
}

.text-big {
  font-size: 16px;
}

.signup-text-login {
  color: black;
  text-decoration: underline;
}

.ov-h {
  overflow: hidden;
}

.input-helper {
  font-size: 12px;
  margin-top: 2rem;
  color: gray;
}

.error-span {
  color: #dd476f;
}

@media (max-width: 992px) {
  .img-login-singup {
    display: none;
  }
}
.balance {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  font-size: 14px;
  color: rgb(98, 98, 98);
}

.balance-total {
  text-transform: capitalize;
}

.balance-monto {
  font-weight: 700;
}

.agregar-fondos__h2 {
  text-transform: uppercase;
  font-size: 65px;
  letter-spacing: 0.5rem;
}

.metodos-search {
  border: 2px solid #ecf2f6;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.metodos-search > span {
  font-size: 13px;
  color: rgb(177, 177, 177);
  font-weight: 700;
  text-align: center;
  padding: 10px 10px;
}

.metodos-buscar-btn {
  color: black;
  border: none;
  border-left: 2px solid #ecf2f6;
  background-color: #f8fafc;
  height: 100%;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 600;
}

.metodos-icon {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 0.5rem;
}

.metodos-search > small {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 0.5rem;
}

.transferencia {
  border-bottom: 1px solid rgba(0, 0, 0, 0.087);
  padding-bottom: 3rem;
}

.metodos-title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
}

.card-img-top {
  width: 100px;
  margin-top: 10px;
}

.card-agregar {
  width: 150px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 8px;
  border: none;
  box-shadow: rgba(142, 142, 142, 0.279) 0px 5px 15px;
  transition: 200ms ease-in-out;
}
.card-agregar:hover {
  box-shadow: rgba(0, 0, 0, 0.279) 0px 5px 15px;
  cursor: pointer;
}

.card-title {
  font-weight: 600;
  font-size: 16px;
}

.card-text {
  font-size: 12px;
  font-weight: 500;
  color: gray;
}

.transferencia-monto__input {
  width: calc(50% - 1rem);
}

.form-control {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.form-control-input-label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.form-control-input-label {
  font-size: 0.9rem;
  font-weight: 600;
}

.form-control-input-container > input {
  border: none;
  outline: none;
}

.form-control-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: 1px solid #050505;
  border-radius: 4px;
  padding: 0.4rem 1.1rem;
}

.error-border {
  border: 1px solid rgb(235, 0, 0);
}

.form-control-input {
  font-size: 25px;
  font-weight: 400;
  padding: 0;
  line-height: 1.5;
  width: 100%;
}

.form-control-helper {
  padding-left: 0.7rem;
  font-size: 0.8rem;
  color: rgb(177, 177, 177);
}

.form-control-helper-error {
  color: rgb(235, 0, 0);
}

.input-addon {
  display: flex;
  align-items: center;
}

.agregar-currency {
  min-width: 0;
}

.transfers-table-container {
  margin: 10rem;
}

.transfers--amount-details {
  background: #f9f9f9;
  margin: 4rem auto;
  padding-top: 1.6rem;
  position: relative;
  width: 70%;
  padding-bottom: 1.6rem;
  border-radius: 5px;
}

.transfers--amount-details table {
  width: 100%;
}

.font-weight--bold {
  font-weight: 600 !important;
}

.text--right {
  text-align: right !important;
}

.add-tbody {
  display: table-row-group;
  vertical-align: text-top;
}

.solicitar-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.solicitar-title {
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.solicitar-desc {
  color: rgb(98, 98, 98);
}

.solicitar-text::after {
  content: "";
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.087);
}

.solicitar-desc::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 3px solid black;
  padding-top: 0.5rem;
}

.continue-btn {
  margin-top: 2rem;
}

.continue-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.continue-card-container {
  width: 40%;
  margin: auto;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card-continue-text {
  font-size: 1rem;
  font-weight: 400;
}

.card-text-bottom {
  padding-bottom: 1rem;
}

.continue-card-btn {
  border-radius: 45px;
  padding: 0.5rem 1.4rem;
  font-weight: 600;
}

.footer {
  margin-top: 10rem;
}

.bold {
  font-weight: 700;
  color: black;
  font-size: 14px;
  font-size: 1.1rem;
}

/*# sourceMappingURL=styles.css.map */
